body, html {
    height: 100%;
    margin: 0;
}

.site-container {
    height: 100%;
    margin: 0;
}

.outline-red {
    border: 2px solid red
}

.outline-green {
    border: 2px solid green
}

#jumbo-div {
    background-color: transparent;
}

.container {
    text-align: center
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER */
#header-container a {
    text-decoration: none;
    color: black;
}

.header-div {
    text-align: center;
}

.header-text {
    font-size: 5em;
    color: white
}

/* FOOTER */
#footer {
    min-height: 100px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    background: #232323
}

#footer-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* NAVBAR */

#icon-container {
    width: 180px;
    display: flex;
    justify-content: space-around
}

/* ABOUT */
.list-icon {
    font-size: 2em;
}

.icon-list-item {
    line-height: 40px;
    text-align: center;
    margin-left: 1em;
}

#flex-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: inline-block;

}

#icon-ul-div {
    text-align: center;
}

/* PORTFOLIO */

.portfolio-title {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.portfolio-container:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-overlay-info {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }